.map-container {
  position: relative;

  /* margin-top: 80px; */
}

#container {
  height: 70vh;
  width: 100%;
  position: relative;
}

.loading {
  z-index: 999;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  font-size: 30px;
  color: red;
  width: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, .8);
}

.drive-panel {
  z-index: 99;
  position: fixed;
  background-color: #fff;
  height: 200px;
  width: 100%;
  right: 0;
  top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: gray 1px solid;
}

.instruction-container {
  overflow: auto;
  width: 95%;
  border: 1px #ccc solid;
}

.drive-path {
  color: black;
  border-bottom: 1px solid #ccc;
  margin: 3px 0; 
}

.panel-title {
  position: relative;
  text-align: center;
  background-color: #ccc;
  font-size: 20px;
  width: 100%;
}

.panel-close {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 20px;
}

.panel-prev {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 20px;
}

.drive-type {
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  margin: 2px 0;
  color: red;
}

.drive-button-list2 {
  margin-bottom: 10px;
}

.drive-button {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid gray;
  font-size: 14px;
}

.suggest {
  color: red;
  font-size: 16px;
}

button {
  background-color: #fff;
  border-radius: 3px;
  border: 2px solid red;
  margin: 0 5px;
  font-size: 13px;
}

.module-box {
  margin-bottom: 5px;
}

.box {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.position-box {
  position: absolute;
  top: 0;
  background-color: #000;
  opacity: .8;
  z-index: 999;
  height: 200px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
     
  .position-mode-title {
    font-size: 20px;
    color: #fff;
  }
}

.author-box {
  z-index: 99;
  position: absolute;
  bottom: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  width: 100%;
}

.author {
  color: #333;
}

.content-window-card {
  position: relative;
  box-shadow: none;
  bottom: 0;
  left: 0;
  width: auto;
  padding: 0;
}

.title {
  margin: 5px 0;
}

.content-window-card p {
  height: 2rem;
}

.custom-info {
  border: solid 1px silver;
}

div.info-top {
  position: relative;
  background: none repeat scroll 0 0 #f9f9f9;
  border-bottom: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
}

div.info-top div {
  display: inline-block;
  color: #333;
  font-size: 14px;
  font-weight: bold;
  line-height: 31px;
  padding: 0 10px;
}

div.info-top img {
  position: absolute;
  top: 10px;
  right: 10px;
  transition-duration: .25s;
}

div.info-top img:hover {
  box-shadow: 0 0 5px #000;
}

div.info-middle {
  font-size: 12px;
  padding: 10px 6px;
  line-height: 20px;
  display: flex;
  flex-direction: column;
}

div.info-bottom {
  height: 0;
  width: 100%;
  clear: both;
  text-align: center;
}

div.info-bottom img {
  position: relative;
  z-index: 104;
}

span {
  margin-left: 5px;
  font-size: 11px;
}

.info-middle img {
  float: left;
  margin-right: 6px;
}

.friend-chat {
  cursor: pointer;
  font-size: 18px;
  color: hotpink;
}

.message-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  z-index: 1001;
  // left: 10%;
  top: 150px;
  width: 40%;
  // height: 150px;
  background-color: black;
  opacity: .7;
  border-radius: 10px;
  padding: 10px;

  .message-box-title {
    color: white;
    font-size: 24px;
  }

  .message-box-intput {
    margin: 10px 0 ;
    height: 30px;
    font-size: 22px;
    width: 90%;
  }

  .message-box-btn {
    height: 30px;
    width: 80px;
    cursor: pointer;
  }
}

.drive-friend-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 999;
  width: 320px;
  height: 100px;
  top: 100px;
  left: 20px;
  position: fixed;
  background-color: black;
  opacity: .7;
  border-radius: 10px;
  color: #fff;
  overflow: auto;
  overscroll-behavior: contain;

  .drive-friend-close {
    position: absolute;
    right: 10px;
    top: 0;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }

  .drive-friend-panel-title {
    color: hotpink;
    width: 300px;
    text-align: left;
    font-size: 18px;
  }

  .drive-friend-instruction {
    margin: 3px 0;
  }
}
