@keyframes slidedown {

  0% {
    right: -200px;
  }

  100% {
    right: 0;
  }
}

.nav-container {
  min-width: 320px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  border-top: 3px solid #0574d0;
  border-bottom: 1px solid #ccc;
  height: 80px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;

 

  .nav-panel {
    position: absolute;
    background-color: black;
    padding: 10px 20px;
    color: #fff;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    // width: 200px;
    font-size: 30px;
    opacity: .8;
    border-radius: 20px;
  }

  .nav-welcome {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-shrink: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    .nav-username {
      margin: 0;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .nav-user-signature {
      font-size: 13px;
      color: black;
      opacity: .5;
      max-width: 400px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }
  }

  .nav-logo {
    flex-shrink: none;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }

  .nav-main-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 30px;
    margin-left: 40px;
    flex-shrink: 3;

  }

  .nav-right-phone {
    flex-shrink: none;
    height: 80px;
    width: 80px;
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .nav-right-phone-barbox {
      flex-shrink: none;
      padding: 5px 0;
      height: 45px;
      width: 60px;
      border: 2px #ccc solid;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      .nav-right-phone-line {
        background-color: #ccc;
        width: 40px;
        height: 4px;
      }
    }

    .nav-right-phone-more-pannel {
      width: 100px;
      position: absolute;
      animation: slidedown .2s linear forwards;
      height: auto;
      display: flex;
      top: 80px;
      flex-direction: column;
      box-sizing: border-box;
      background-color: #fff;
      border: 2px #0574d0 solid;

      .nav-right-phone-more-pannel-line {
        width: 100px;
        box-sizing: border-box;
        border-bottom: 2px solid #ccc;
        height: 25%;
        // height: 40px;
        text-align: center;
        line-height: 50px;
        box-sizing: border-box;
      }
    }
  }

  .nav-right {
    margin-left: auto;
    margin-right: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    width: 550px;
    justify-content: space-around;

    .nav-right-button {
      cursor: pointer;
      width: 80px;
      height: 45px;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      border-radius: 20px;
    }

    .nav-right-button:hover {
      color: #0574d0;
      font-weight: 600;
    }
  }

  .nav-right-goback {
    margin-left: auto;
    margin-right: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;
    justify-content: space-around;

    .nav-right-button {
      cursor: pointer;
      height: 45px;
      margin: 0 15px;
      text-align: center;
      line-height: 45px;
      font-size: 16px;
      border-radius: 20px;
    }

    .nav-right-button:hover {
      color: #0574d0;
      font-weight: 600;
    }
  }
}
